USE [master]
GO
/****** Object:  Database [ismoil]    Script Date: 04.09.2021 15:06:20 ******/
CREATE DATABASE [ismoil]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ismoil', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.ISMOIL\MSSQL\DATA\ismoil.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ismoil_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.ISMOIL\MSSQL\DATA\ismoil_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ismoil].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ismoil]
GO
USE [ismoil]
GO
/****** Object:  Table [dbo].[Wokers]    Script Date: 04.09.2021 15:06:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wokers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Age] [int] NOT NULL,
	[Salary] [decimal](5, 1) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
